
.card {
  width: 100%;
  margin-left: 20px;
  border-radius: 40px;
  text-align: center;
  height: 95%;  
  border: 5px solid white;

  /* Unselectable */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.card span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  font-size: 7vmin;
  text-align: center;
  margin: 10px;
}

.mini-card {
  box-shadow: 0 4px 6px 0 rgba(0,0,0,0.82);
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 10px;
  line-height: 10vh;
  text-align: center;

  border: 2px solid white;

  /* Unselectable */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.mini-card span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  text-align: center;
}

.solo-card {
  line-height: 60vh;
  background: rgb(218,120,8);
  background: linear-gradient(165deg, rgba(218,120,8,1) 0%, rgba(129,69,0,1) 100%);
}

.solo-card span {
  text-align: center;
}

.duo-card {
  background: rgb(0,224,33);
  background: linear-gradient(165deg, rgba(0,224,33,1) 0%, rgba(0,66,64,1) 100%);
  line-height: 60vh;
}

.duo-card span {
  text-align: center;
}

.group-card {
  background: rgb(0,195,210);
  background: linear-gradient(165deg, rgba(0,195,210,1) 0%, rgba(0,64,130,1) 100%);
  line-height: 60vh;
}

.group-card span {
  text-align: center;
}

.nhie-card { 
  background: rgb(0,0,0);
  background: linear-gradient(165deg, rgb(3, 0, 99) 0%, rgba(0,0,0,1) 100%);
}

.nhie-title {
  margin-left: 10px;
  font-size: 8vmin;
}

.nhie-text span{
  font-size: 7vmin;  
  text-align: center;
  margin-top: 3.8vw;
}

.staying-solo-card {
  line-height: 60vh;
  background: rgb(221,123,11);
  background: linear-gradient(165deg, rgb(204, 161, 8) 0%, rgb(221, 78, 11) 100%);
}

.staying-solo-card span {
  text-align: center;
}

.mini-solo-card {
  background: rgb(221,123,11);
  background: linear-gradient(165deg, rgb(204, 161, 8) 0%, rgb(221, 78, 11) 100%);
}

.staying-duo-card {
  line-height: 60vh;
  background: rgb(0,224,146);
  background: linear-gradient(165deg, rgba(0,224,146,1) 0%, rgba(0,43,66,1) 100%);
}

.staying-duo-card span {
  text-align: center;
}

.mini-duo-card {
  background: rgb(0,224,146);
  background: linear-gradient(165deg, rgba(0,224,146,1) 0%, rgba(0,43,66,1) 100%);
}

.mini-group-card {
  background: rgb(0,197,224);
  background: linear-gradient(165deg, rgba(0,197,224,1) 0%, rgba(0,16,66,1) 100%);
}

.staying-group-card {
  line-height: 60vh;
  background: rgb(0,197,224);
  background: linear-gradient(165deg, rgba(0,197,224,1) 0%, rgba(0,16,66,1) 100%);
}

.staying-group-card span {
  text-align: center;
}

.mini-group-card {
  background-color: maroon;
}
