
.playerbar {
  width: 100%;
  height: 30vmin;
  text-align: center;
}

.playerbar-items {
  list-style-type: none;
  overflow: hidden;
  display: inline-block;
}

.playerbar-item {
  float: left;
  padding: 10px;
  text-align: center;
}

.playerbar-item img {
  height: 15vmin;
  max-height: 150px;
  min-height: 75px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.playerbar-item-hidden img {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.button-box {
  height: 10vh;
}

.game {
  padding-left: 10px;
}

.cards-field {
  width: 100%;
  overflow: hidden;
}

.current-card {
  width: 78%;
  float: left;
  height: 60vh;
}

.staying-cards {
  width: 20%;
  float: right;
  overflow: hidden;
}
